### Etapa 1
Análise exploratória dos dados
Dataset: Medical Text Dataset - Cancer Doc 
Alunos: Adson Borges, Victor Fidelis

In [3]:
import pandas as pd

df=pd.read_csv('alldata_1_for_kaggle.csv', encoding='latin1')
df = df.iloc[:,1:3]
df.columns=['labels','text']
df.head()

           labels                                               text
0  Thyroid_Cancer  Thyroid surgery in  children in a single insti...
1  Thyroid_Cancer  " The adopted strategy was the same as that us...
2  Thyroid_Cancer  coronary arterybypass grafting thrombosis ï¬b...
3  Thyroid_Cancer   Solitary plasmacytoma SP of the skull is an u...
4  Thyroid_Cancer   This study aimed to investigate serum matrix ...

In [4]:
df['labels'].value_counts()

labels
Thyroid_Cancer    2810
Colon_Cancer      2580
Lung_Cancer       2180
Name: count, dtype: int64

In [5]:
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
df['labels'] = label_encoder.fit_transform(df['labels'])
df.head()

   labels                                               text
0       2  Thyroid surgery in  children in a single insti...
1       2  " The adopted strategy was the same as that us...
2       2  coronary arterybypass grafting thrombosis ï¬b...
3       2   Solitary plasmacytoma SP of the skull is an u...
4       2   This study aimed to investigate serum matrix ...

In [6]:
df.isnull().sum()

labels    0
text      0
dtype: int64

In [7]:
df.duplicated().sum()

6574

In [8]:
df = df.drop_duplicates(keep='first')
df= df.reset_index(drop=True)
df.duplicated().sum()

0

In [9]:
df.shape

(996, 2)

In [10]:
import string

def clean_text(text):
    text = text.lower()
    text = text.translate(str.maketrans('','', string.punctuation))
    return text

df['text'] = df['text'].apply(clean_text)

print(df)

     labels                                               text
0         2  thyroid surgery in  children in a single insti...
1         2   the adopted strategy was the same as that use...
2         2  coronary arterybypass grafting thrombosis ï¬b...
3         2   solitary plasmacytoma sp of the skull is an u...
4         2   this study aimed to investigate serum matrix ...
..      ...                                                ...
991       1  missense mutation distribution in the exons an...
992       1  versus gemcitabinecarboplatin in advanced nons...
993       2   keloids are pathological scars that grow over...
994       0  the anization of cells into multiple membranou...
995       0  several immunotherapeutic strategies that harn...

[996 rows x 2 columns]

In [11]:
#import nltk
#nltk.download('stopwords')
#nltk.download('punkt')
#nltk.download('wordnet')
#nltk.download('omw-1.4')

In [21]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

stop_words = set(stopwords.words('english'))
stop_words.remove("no")
stop_words.remove("nor")
stop_words.remove("not")

lemmatizer = WordNetLemmatizer()


def preprocess_text(text):
    words = word_tokenize(text)  # Tokenizar o texto
    filtered_words = [word for word in words if word.lower() not in stop_words]  # Remover stopwords
    lemmatized_words = [lemmatizer.lemmatize(words) for words in filtered_words]  # Lemmatizar
    return lemmatized_words

# Aplicar a função ao DataFrame
df['tokens'] = df['text'].apply(preprocess_text)

print(df)

     labels                                               text  \
0         2  thyroid surgery in  children in a single insti...
1         2   the adopted strategy was the same as that use...
2         2  coronary arterybypass grafting thrombosis ï¬b...
3         2   solitary plasmacytoma sp of the skull is an u...
4         2   this study aimed to investigate serum matrix ...
..      ...                                                ...
991       1  missense mutation distribution in the exons an...
992       1  versus gemcitabinecarboplatin in advanced nons...
993       2   keloids are pathological scars that grow over...
994       0  the anization of cells into multiple membranou...
995       0  several immunotherapeutic strategies that harn...

                                                tokens
0    [thyroid, surgery, child, single, institution,...
1    [adopted, strategy, used, prior, year, based, ...
2    [coronary, arterybypass, grafting, thrombosis,...
3    [solitary, plasmacytoma, sp, skull, uncommon, ...
4    [study, aimed, investigate, serum, matrix, met...
..                                                 ...
991  [missense, mutation, distribution, exon, funct...
992  [versus, gemcitabinecarboplatin, advanced, non...
993  [keloid, pathological, scar, grow, time, exten...
994  [anization, cell, multiple, membranous, compar...
995  [several, immunotherapeutic, strategy, harness...

[996 rows x 3 columns]

### Semana 2